.card-pelicula {
  border-radius: 10px;
  width: 200px;
  flex-shrink: 0;
  aspect-ratio: 2/3;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  --duracion-animacion: 0.5s;
  overflow: hidden;
}

.card-pelicula__imagen,
.card-pelicula__titulo {
  position: absolute;
}

.card-pelicula__titulo {
  opacity: 0;
  scale: 0.8;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition-property: opacity, scale;
  transition-duration: var(--duracion-animacion);
}

.card-pelicula__imagen {
  transition: filter 0.2s;
  width: 200px;
  height: 300px;
  display: grid;
  place-items: center;
}

.card-pelicula:hover .card-pelicula__imagen {
  filter: blur(5px);
}
.card-pelicula:hover .card-pelicula__titulo {
  scale: 1;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .card-pelicula {
    width: 40%;
  }

  .card-pelicula__imagen {
    width: 100%;
    height: 200px;
  }
}
